.action {
  height: 860px;
  background-color: #fff;

  @media (min-width: $screen-sm) {
    height: 865px;
  }

  @media (min-width: $screen-lg) {
    height: 582px;
  }

  &__container {
    @include content-area();
    position: relative;
  }

  &__title {
    @include title();
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__wrapper {
    padding-top: 55px;

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__card {
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #000;

    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $screen-lg) {
    }
  }

  &__text {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size + 8);
    line-height: ($line-height + 6);
    letter-spacing: 1px;
    color: #fefefe;
    text-outline: 20px;
  }
}