.action {
  height: 864px;
  background-color: #fff;
  border: 1px solid red;

  @media (min-width: $screen-sm) {
    height: 860px;
  }

  @media (min-width: $screen-lg) {
    height: 582px;
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include title();
    //заголовок поднят в соседний блок, который выше
    top: -37px;
  }

  &__wrapper {
    // margin-top: 55px;  ?????????
    width: $screen-xs-content;
    box-sizing: border-box;

    @media (min-width: $screen-sm) {
      width: $screen-sm-content;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      width: $screen-lg-content;
    }
  }

  &__card {
    // текст позиционируем относительно карточки
    position: relative;
    border: 1px solid #000;

    @media (max-width: $screen-lg - 1) {
      margin-bottom: 10px;

      &:last-child {
      margin-bottom: 0;
    }
    }

    @media (min-width: $screen-lg) {
      width: 359px;
  }
}

  &__text {
    //текст должен стоять выше картинки
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 270px;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size + 8);
    line-height: ($line-height + 6);
    letter-spacing: 1px;
    color: #fefefe;
  }
}