//=================================================
// Блок Акции
//=================================================
.action {
  height: 858px;
  background-color: #fff;

  @media (min-width: $screen-sm) {
    height: 860px;
  }

  @media (min-width: $screen-lg) {
    height: 580px;
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include title();
    //заголовоак перемещаем в соседний блок
    position: relative;

    @media (max-width: $screen-sm - 1) {
      top: -42px;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-lg - 1){
      top: -62px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 23px;
    }

  }

  &__wrapper {
    margin-top: 23px;
    width: $screen-xs-content;
    box-sizing: border-box;

    @media (min-width: $screen-sm) {
      margin-top: 4px;
      width: $screen-sm-content;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      margin-top: 88px;
      width: $screen-lg-content;
    }
  }

  &__card {
    // текст позиционируем относительно карточки
    position: relative;
    height: 253px;
    width: 292px;

    @media (max-width: $screen-lg - 1) {
      margin-bottom: 10px;
    }

    &:last-child {
      @media (max-width: $screen-lg - 1) {
      margin-bottom: 0;
      }
    }

    @media (min-width: $screen-sm) {
      height: 253px;
      width: 740px;
    }

    @media (min-width: $screen-lg) {
      height: 343px;
      width: 359px;
    }

    &:before {
      position: absolute;
      content:'';
      top: 0;
      left: 0;
      height: 253px;
      width: 292px;
      background-color: transparent;
      transition: background-color 0.5s linear;

      @media (min-width: $screen-sm) {
        height: 253px;
        width: 740px;
      }

      @media (min-width: $screen-lg) {
        height: 343px;
        width: 359px;
      }
    }

    &:hover {

      &:before {
        background-color: rgba(0,0,0,0.5);
      }

      & .action__text{
        display: none;
      }

      & .action__link {
        opacity: 1;
      }
    }
  }

  &__img {
    // в IE не видит тег picture поэтому подгружает картинку которая грузится в любом случае, размеры ставлю. чтоб картинка растянулась пропорционально
    width: 100%;
    height: 100%;
  }

  &__text {
    //текст должен стоять выше картинки
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 270px;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size + 8);
    line-height: ($line-height + 6);
    letter-spacing: 1px;
    color: #fefefe;

    @media (min-width: $screen-sm) {
      width: 370px;
      font-size: ($font-size + 14);
    }

    @media (min-width: $screen-sm) and (max-width: $screen-lg - 1){left: 40px; }
  }

  &__link {
    //"подробнее" должно стоять выше картинки
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    //задаю ширину и высоту, чтоб выствавить блок автоматически потом по середине
    width: 100px;
    height: 40px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: ($line-height + 12);
    color: #fefefe;
    transition: opacity 0.8s linear;
    opacity: 0;
  }
}
