.btn-prev {
  @include sprite($arrow-prev);
  display: inline-block;
  content: "";
  background-color: transparent;
  border: none;

  &:active {
    transform: scale(0.7);
  }

  &:focus {
    outline: none;
  }
}