.btn {
  width: 146px;
  height: 32px;
  box-sizing: border-box;
  font-family: $font-family-title-text;
  font-weight: normal;
  font-size: $font-size;
  line-height: ($line-height - 6);
  border: 1px solid #211811;
  background-color: transparent;

  &:active {
    transform: scale(0.5);
  }

  &:focus {
    outline: none;
  }

  &--red{
    background-color: #922626;
    border: none;
  }
}