.card {
  position: relative;
  width: 214px;
  height: 320px;

  @media (min-width: $screen-sm) {
    height: 621px;
    background-color: rgba(71,86,100,.8);

    &:nth-child(even) {background-color: #2b3644;}
  }

  .card-img {
    @media (max-width: $screen-sm - 1) {
      //нужно на мобилке картинку положить под надпись
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  &__title {
    position: relative;
    padding-top: 26px;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size + 14);
    line-height: $line-height;
    letter-spacing: 3px;
    text-align: center;
    color: #c7c7d3;
    //заголовок должен лежать сверху на картинке
    z-index: 2;
  }

  &__height,
  &__age,
  &__text {
    font-family: $font-family;
    font-size: $font-size;
    line-height: ($line-height - 4);
    text-align: center;

    @media (max-width: $screen-sm - 1) {
      position: relative;
    // чтоб текст лежал выше чем картинка
    z-index: 2;
  }
  }

  &__height,
  &__age {
    position: relative;
    margin-top: 22px;
    color: #f9f9f9;

    &:before {
      position: absolute;
      display: inline-block;
      content:'';
      top: 0;
      left: 15px;
    }
  }

  &__height {
    margin-top: 22px;

    &:before {
      @include sprite($mountain);
    }
  }

  &__age {
    margin-top: 17px;
    margin-bottom: 60px;

      @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }

    &:before{
      @include sprite($avatar);
    }
  }

  &__text {
    margin: 0 auto;
    width: 180px;
    color: #e7e7f2;
  }
}