.card-trace {
  margin: 0 auto;
  //нужно на мобилке картинку положить под текст
  position: relative;
  width: 214px;
  height: 320px;
  box-sizing: border-box;

@media (max-width: $screen-lg - 1) {
  }


  @media (min-width: $screen-sm) {
    height: 620px;
    background-color: rgba(71,86,100,.8);

    &:nth-child(even) {background-color: #2b3644;}
  }

  &:hover {
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
    @media (min-width: $screen-lg) {
      box-shadow: 0 0 29px 4px rgba(0,0,0,0.55);
    }
  }

  &__title {
    padding-top: 26px;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size + 14);
    line-height: $line-height;
    letter-spacing: 1px;
    text-align: center;
    color: #c7c7d3;
    text-shadow: 0 2px 2px rgba(0,0,0,0.75);

    @media (max-width: $screen-sm - 1) {
      position: relative;
    // чтоб текст лежал выше чем картинка
    z-index: 2;
  }
  }

  &__height,
  &__age,
  &__text {
    font-family: $font-family;
    font-size: $font-size;
    line-height: ($line-height - 4);
    text-align: center;

    @media (max-width: $screen-sm - 1) {
      // чтоб текст лежал выше чем картинка
      position: relative;
      z-index: 2;
  }
  }

  &__height,
  &__age {
    position: relative;
    padding-left: 22px;
    color: #f9f9f9;
    text-shadow: 0 2px 2px rgba(0,0,0,0.75);

    &:before {
      position: absolute;
      display: inline-block;
      content:'';
    }
  }

  &__height {
    margin-top: 20px;

    &:before {
      @include sprite($mountain);
      top: -2px;
      left: 25px;
    }
  }

  &__age {
    margin-top: 10px;

    &:before{
      @include sprite($avatar);
      top: -5px;
      left: 28px;
    }
  }

    &__img {
    @media (max-width: $screen-sm - 1) {
      //нужно на мобилке картинку положить под надпись
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    @media (min-width: $screen-sm) {
      margin-top: 25px;
    }
  }

  &__text {
    margin: 0 auto;
    margin-top: 75px;
    width: 180px;
    color: #e7e7f2;

    @media (min-width: $screen-sm) {
      margin-top: 20px;
    }
  }

}