.card {
  position: relative;
  margin-right: 5px;
  flex-basis: 214px;
  height: 320px;
  box-sizing: border-box;

  .card-img {
    @media (max-width: $screen-sm - 1) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__title {
    position: relative;
    padding-top: 26px;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: ($font-size + 14);
    line-height: $line-height;
    letter-spacing: 3px;
    text-align: center;
    color: #c7c7d3;
    z-index: 2;
  }

  &__height,
  &__age,
  &__text {
    position: relative;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    text-align: center;
    // чтоб текст лежал выше чем картинка
    z-index: 2;
  }

  &__height {
    margin-top: 22px;
    color: #f9f9f9;

    &:before {
      @include sprite($mountain-s);
      position: absolute;
      display: inline-block;
      content:'';
      top: 0;
      left: 15px;
    }
  }

  &__age {
    margin-top: 17px;
    color: #f9f9f9;

    &:before{
      @include sprite($avatar-s);
      position: absolute;
      display: inline-block;
      content:'';
      top: 0;
      left: 20px;
    }
  }

  &__text {
    margin-top: 76px;
    color: #e7e7f2;
  }
}