// Карточки отзывов
// =====================================
.card-reviews {
  margin: 0 auto;
  width: 216px;
  height: 413px;

  &__img {
    margin: 0 auto;
    margin-top: 40px;
  }

  &__name,
  &__status {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    text-align: center;
    color: #22313f;
  }

  &__name {
    margin-top: 6px;
    font-weight: bold;
  }

  &__social {
    margin-top: 8px;
  }

  &__text {
    padding-top: 10px;
    padding-left: 15px;
    width: 200px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: ($line-height - 2);
    color: #22313f;

    @media (min-width: $screen-sm) {
      font-size: ($font-size + 2);
    }
  }
}
