.card {
  position: relative;
  width: 214px;
  height: 320px;
  border: 1px solid #000;

  &__title {
    padding-top: 26px;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: ($font-size + 14);
    line-height: $line-height;
    letter-spacing: 3px;
    text-align: center;
    color: #c7c7d3;
  }

  &__height,
  &__age {
    padding-top: 22px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 3px;
    text-align: center;
    color: #f9f9f9;
  }

  &__height {
    &:before{
      @include sprite($mountain-s);
      content:'';
      // top: 3px;
      // left: 0;
    }
  }

  &__age {
    &:before{
      content:'';
      // top: 3px;
      // left: 0;
      @include sprite($avatar-s);
    }
  }

  @media (max-width: $screen-sm - 1) {
     .card-img {
        position: absolute;
        left: 0;
        top: 0;
        z-index:1;
      }
    }
}