.carousel {
  position: relative;
  width: 320px;
  box-sizing: border-box;

  &__btn-last {
    position: absolute;
    top: 220px;
  }

  &__slider {
    margin: 0 auto;
  }

  &__btn-next {
    position: absolute;
    top: 220px;
    right: 0;
  }
}