.contacts {
  display: flex;

  @media (max-width: $screen-sm - 1) {
    width: 250px;
    &__time, &__address {
      display: none;
    }
  }

  &__phone {
    position: relative;
    padding-left: 25px;
  }

  &__phone:before {
    @include sprite($phone-call-h-s);
    position: absolute;
    display: inline-block;
    content: "";
    top: 3px;
    left: 0;
  }

  &__time, &__address, &__phone {
    margin-top:  3px;
    font-family: $font-family-text;
    font-size: $font-size;
    line-height: $line-height
  }
}