.gallery {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-prev,
  .btn-next {

    @media (min-width: $screen-xs) {
      display: none;
    }
  }

  &__slick-wrap {
    @media (max-width: $screen-lg) {
    margin-left: 13px;
    margin-right: 13px;
  }

  }
}