.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-sizing: border-box;

  &__btn-last {
  }

  &__slider {
    margin-left: 13px;
    margin-right: 13px;
  }

  &__btn-next {
  }
}