.list-service {
  width: $screen-sm-content;
  box-sizing: border-box;

  @media (max-width: $screen-sm - 1) {
    position: absolute;
    visibility: hidden;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg-content;
  }

  &__title-wrap {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    background-color: #5b6671;

    @media (min-width: $screen-lg) {
      width: 790px;
      float: right;
    }
  }

  &__title {
    padding-top: 10px;
    width: 185px;
    font-family: $font-family;
    font-size: $font-size;
    line-height: ($line-height - 6);
    text-align: center;
    color: #dadae7;

    @media (min-width: $screen-lg) {width: 395px; }
  }

  &__table-wrap{

    &:last-child {
      margin-top: 60px;
    }
  }
}
