.main-nav-toggle {
  height: 370px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #e9e9f1;
  border-top: 1px solid #22313f;

  &__list {
    margin-top: 80px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
  font-size: $font-size + 2;
  line-height: $line-height;
  color: #22313f;
  text-decoration: none;
  }

  &__social{
    margin-top: 20px;
  }
}