.main-nav-toggle {
  text-align: center;

  &__list {
    margin-top: 80px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-family: $font-family-title-text;
    font-weight: normal;
    font-size: ($font-size + 2);
    line-height: $line-height;
    color: #22313f;
    text-decoration: none;
  }
}