.nav-footer {

  &__item {
    margin-bottom: 8px;
    list-style-type: none;

    @media (min-width: $screen-sm) {
    margin-bottom: 13px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: $font-family;
    font-size: $font-size - 2;
    line-height: $line-height - 6;
    color: #dadae7;
    text-decoration: none;

    @media (min-width: $screen-sm) {
    font-size: $font-size + 2;
    line-height: $line-height;
    }
  }
}