.navbar {

  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
    height: 64px;
  }

  &__logo {
    margin-right: 20px;
    @media (max-width: $screen-sm - 1) {
      display: none;
    }
  }

  &__btn {
    @media (max-width: $screen-lg - 1) {
      display: none;
    }
  }

  &__nav-wrap {

    @media (min-width: $screen-sm) {
      flex-grow: 1;
      width: 480px;
      box-sizing: border-box;
    }
  }

  &__social {
    margin-top: 20px;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}