.navbar {
  width: 100%;
  height: 370px;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;

  .trigger-toggle {
    display: none;

    &:checked ~ .navbar__nav-toggle {
      opacity: 1;
      top: 0;
    }
  }

  &__nav-toggle {
    position: relative;
    left: 0;
    top: -370px;
    opacity: 1;
    transition: top 1s linear;
  }
}