// убираем рамку при нажатой карточке везде,
// где подключена карусель
.slick-slide:focus {
  outline: none;
}

// убираем рамку при нажатой карточке на разрешении 1200 ,
// когда карусель выключена
.slick-trace__card:focus {
  outline: none;
}

// Вставляем свою стрелку в блоке  "trace"
.slick-trace .slick-prev,
.slick-trace .slick-next {
  height: 41px;
  width: 23px;
  //убираем, чтоб при нажимании на кнопку, она не опускалась вниз
  transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

  &:active {
    transform: scale(0.8);
  }
}

.slick-trace .slick-prev {
  left: -32px;
  top: 135px;

  @media (min-width: $screen-sm) {top: 275px; }

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-trace .slick-next {
  right: -32px;
  top: 135px;

  @media (min-width: $screen-sm) {top: 275px; }

  &:before {
    @include sprite($arrow-next);
  }
}

// Убираем рамку в блоке  "have", возникающую от mfp
.slick-foto__card .card-foto:focus{
  outline:none;
}

// Вставляем свою стрелку в блоке  "have"
.slick-foto .slick-prev,
.slick-foto .slick-next {
  height: 41px;
  width: 23px;
  transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-foto .slick-prev {
  left: -33px;
  top: 173px;

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-foto .slick-next {
  right: -32px;
  top: 173px;

  &:before {
    @include sprite($arrow-next);
  }
}

// Вставляем свою стрелку в блоке  "reviews"
.slick-reviews .slick-prev,
.slick-reviews .slick-next {
  height: 41px;
  width: 23px;
  //убираем, чтоб при нажимании на кнопку, она не опускалась вниз
  transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-reviews .slick-prev {
  left: -33px;
  top: 165px;

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-reviews .slick-next {
  right: -33px;
  top: 165px;

  &:before {
    @include sprite($arrow-next);
  }
}




// Вставляем свою кнопку в модальном окне
button.mfp-close {
  // чтоб исчезла кнопка которую задают с помощью шрифта и content: ""
  font-size: 0;

  &:before{
    @include sprite($close);
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    right: 0;
    width: 41px;
    height: 43px;
  }
}

// Перемещаем кнопку в нужное место
.mfp-image-holder .mfp-close {
  right: -70px;
  width: 20%;
}

img.mfp-img {
  height: 800px;
}
