.page-header {
  height: 30px;

  &__contacts {
    background-color: #e9e9f1;
  }

  &__container {
    @include content-area();
  }

  &__contacts-wrap {
    float: left;
    margin-right: 20px;

    @media (min-width: $screen-sm) {
      float: right;
    }
  }

  &__toggle-btn {
    float: right;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__navbar {
    position: absolute;
    display: none;
    top: 30px;
    left: 0;
    height: 370px;
    width: 100%;
    background-color: #e9e9f1;
    border-top: 1px solid #22313f;
    // для того, чтоб  navbar был выше блока roks
    z-index: 2;

    @media (min-width: $screen-sm) {
      display: block;
      background-color: transparent;
      border-top: none;
    }
  }
}
