.page-header {

  &__contacts {
    height: 30px;
    background-color: #e9e9f1;
  }

  &__container {
    @include content-area();
  }

  &__contacts-wrap {
    float: left;

    @media (max-width: $screen-sm - 1) {
      margin-right: 25px;
    }
  }

  &__btn {
    float: right;
  }

  &__navbar {
    position: absolute;
    left: 0;
    top: 30px;
  }

  &__main-nav-wrapp {

    @media (max-width: $screen-sm - 1) {
     display: none;
    }
  }
}
