.price-reviews-wrap {
  background-size: cover;
  border: 1px solid #000;

  @media (min-width: $screen-xs) {
    // height: 812px;
    height: 1079px;
    background-image: url(../img/mountain3--320.jpg);
  }

  @media (min-width: $screen-sm) {
    height: 1690px;
    background-image: url(../img/mountain3--768.jpg);
  }

  @media (min-width: $screen-lg) {
    height: 1700px;
    background-image: url(../img/mountain3--1200.jpg);
  }
}
