  .reviews {
    height: 570px;

  &__container {
    @include content-area();
  }

  &__wrapper {
    background-color: #ebebeb;
    box-sizing: border-box;
  }

  &__title {
    @include title();
    padding-top: 43px;
  }

&__slick-wrap {
    margin-top: 40px;
    width: $screen-xs-content;
    box-sizing: border-box;

  @media (min-width: $screen-sm) {
      width: $screen-sm-content;
  }
  @media (min-width: $screen-lg) {
      width: $screen-lg-content;
  }
  }
}