.reviews {
  height: 812px;
  border: 1px solid #000;

  @media (min-width: $screen-xs) {
    background-image: url(../img/mountain3--s.jpg);
    background-size: cover;
  }

  &__container {
    @include content-area();
  }

  &__wrapper {
    margin-top: 215px;
    height: 558px;
    background-color: #ebebeb;
  }

  &__title {
    @include title();
    padding-top: 40px;
  }

  &__gallery-wrap {
    margin-top: 50px;
  }
}