.rocks {
  height: 400px;

  @media (min-width: $screen-xs) {
    background-image: url(../img/mountain1--s.jpg);
  }

 // @media (min-width: $screen-sm) {
 //  background-image: url(../img/mountain1--s.jpg);
 // }

 // @media (min-width: $screen-lg) {
 //  background-image: url(../img/mountain1--s.jpg);
 // }

  &__container {
    @include content-area();
  }

  &__title {
    @include title();
    padding-top: 80px;
  }

  &__text-wrapp {
    padding-top: 85px;
    width: 210px;
  }

  &__text {
    font-family: $font-family-text;
    font-size: ($font-size + 2);
    line-height: ($line-height + 6);

    @media (min-width: $screen-xs) {
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  &__btn {
    margin-top: 40px;
  }
}