.slick-trace {

  @media (min-width: $screen-xs) {
    margin: 0 auto;
     // ширина выбирается такая, чтоб вместить ширину карточки +отступы между ними(здесь почему-то больше пришлось задать)
    width: 222px;
    // height: 320px;
  }

  @media (min-width: $screen-sm) {
    // ширина выбирается такая, чтоб вместить ширину карточки +отступы между ними
    width: 666px;
    height: 621px;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    width: inherit;
    // height: 700px;
    box-sizing: border-box;
  }

  &__card {
    @media (max-width: $screen-lg - 1) {
    padding-left: 4px;
    padding-right: 4px;
  }

   @media (min-width: $screen-lg) {

  &:nth-child(even) {margin-top: 75px;}
}
  }
}