// Карусель в разделе "Трассы" trace
// ===========================================
.slick-trace {
  margin: 0 auto;

  @media (min-width: $screen-xs) {
     // ширина выбирается такая, чтоб вместить ширину карточки +отступы между ними(здесь почему-то больше пришлось задать)
    width: 245px;
    height: 350px;
  }

  @media (min-width: $screen-sm) {
    // ширина выбирается такая, чтоб вместить ширину карточки +отступы между ними
    width: 715px;
    height: 650px;
  }

  @media (min-width: $screen-lg) {
    width: 1180px;
    height: 700px;
    box-sizing: border-box;
  }

  &__card {

    @media (max-width: $screen-sm - 1) {
      padding-top: 15px;
      height: 350px;
    }

    @media (max-width: $screen-lg - 1) {
      padding-top: 15px;
      height: 650px;
    }

    &:nth-child(even) {
      @media (min-width: $screen-lg) {margin-top: 75px; }
   }
  }
}
