.slick-trace .slick-prev,
.slick-trace .slick-next {
    height: 41px;
    width: 23px;
    //убираем, чтоб при нажимании на кнопку, она не опускалась вниз
    transform: none;

    &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-trace .slick-prev {
  left: -32px;
  top: 135px;

  @media (min-width: $screen-sm) {top: 275px;}

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-trace .slick-next {
  right: -32px;
  top: 135px;

  @media (min-width: $screen-sm) {top: 275px;}

  &:before {
    @include sprite($arrow-next);
  }
}


.slick-foto .slick-prev,
.slick-foto .slick-next {
    height: 41px;
    width: 23px;
    transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-foto .slick-prev {
  left: -33px;
  top: 173px;

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-foto .slick-next {
  right: -33px;
  top: 173px;

  &:before {
    @include sprite($arrow-next);
  }
}

.slick-reviews .slick-prev,
.slick-reviews .slick-next {
    height: 41px;
    width: 23px;
    //убираем, чтоб при нажимании на кнопку, она не опускалась вниз
    transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-reviews .slick-prev {
  left: -33px;
  top: 165px;

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-reviews .slick-next {
  right: -33px;
  top: 165px;

  &:before {
    @include sprite($arrow-next);
  }
}



// .mfp-zoom-in {

//   /* start state */
//   .mfp-with-anim {
//     opacity: 0;
//     transition: all 0.2s ease-in-out;
//     transform: scale(0.8);
//   }

//   &.mfp-bg {
//     opacity: 0;
//     transition: all 0.3s ease-out;
//   }

//   /* animate in */
//   &.mfp-ready {
//     .mfp-with-anim {
//       opacity: 1;
//       transform: scale(2);
//     }
//     &.mfp-bg {
//       opacity: 0.8;
//     }
//   }

//   /* animate out */
//   &.mfp-removing {

//     .mfp-with-anim {
//       transform: scale(0.8);
//       opacity: 0;
//     }
//     &.mfp-bg {
//       opacity: 0;
//     }

//   }

// }
