.slick-prev,
.slick-next{
    height: 41px;
    width: 23px;
    transform: none;

  &:before {
    display: inline-block;
    content: "";
  }

   &:active {
    transform: scale(0.8);
  }
}

.slick-prev {
  left: -36px;

  &:before {
    @include sprite($arrow-prev);
  }
}

.slick-next {
    right: -36px;

  &:before {
    @include sprite($arrow-next);
  }
}