.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
    content: '';
    margin-right: 10px;
    background-color: brown;

    &:last-child {margin-right: 0; }
  }

  &--twitter {@include sprite($twitter-h-s); }

  &--vkontakte {@include sprite($vk-h-s); }

  &--instagram {@include sprite($instagram-h-s); }
}
