.social-footer {
  display: flex;
  align-items: center;

  &__item {
    display: inline-block;
    content: '';
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

    &__tw {
    @include sprite($twitter-f-s);
  }

  &__vk {
    @include sprite($vk-f-s);
  }

  &__instag {
    @include sprite($instagram-f-s);
  }

}