.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
    content: '';
    margin-right: 10px;
    background-color: brown;

    &:last-child{
      margin-right: 0;
    }

    &--tw {
    @include sprite($twitter-h-s);
  }

  &--vk {
    @include sprite($vk-h-s);
  }

  &--instag {
    @include sprite($instagram-h-s);
  }
  }

}