.social-reviews {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
    content: '';
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__instag {
    @include sprite($instagram-s);
  }

  &__vk {
    @include sprite($vk-s);
  }

}