// Блок Social
// ======================================
.social-footer {
  display: flex;
  align-items: center;

  &__item {
    display: inline-block;
    content: '';
    margin-right: 12px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__tw {
    @include sprite($twitter-f-s);

    @media (min-width: $screen-sm) {@include sprite($twitter-f); }
  }

  &__vk {
    @include sprite($vk-f-s);

    @media (min-width: $screen-sm) {@include sprite($vk-f); }

  }

  &__instag {
    @include sprite($instagram-f-s);

    @media (min-width: $screen-sm) {@include sprite($instagram-f); }
  }
}
