.trace {
  height: 528px;

  @media (min-width: $screen-xs) {
    background-image: url(../img/mountain2--s.jpg);
    background-size: cover;
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include title();
    padding-top: 3px;

    &--white {
      color: #fefefe;

      &:after {
        border: 2px solid #fefefe;
      }
    }
  }

  &__gallery-wrap {
    margin-top: 60px;
  }
}