.trace {
  height: 529px;
  background-size: cover;

  @media (min-width: $screen-xs) {
    height: 831px;
    background-image: url(../img/mountain2--s.jpg);
  }

  @media (min-width: $screen-sm) {
    height: 867px;
    background-image: url(../img/mountain2--m.jpg);
  }

  @media (min-width: $screen-lg) {
    background-image: url(../img/mountain2--l.jpg);
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include title();
    padding-top: 3px;

    &--white {
      color: #fefefe;

      &:after {
        border: 2px solid #fefefe;
      }
    }
  }

  &__gallery-wrap {
    margin-top: 60px;
  }
}