@mixin content-area() {
  margin: 0 auto;

  @media (min-width: $screen-xs) {
    padding-left: 14px;
    padding-right: 14px;
    width: $screen-xs-content;
  }

  @media (min-width: $screen-sm) {
    padding-left: 14px;
    padding-right: 14px;
    width: $screen-sm-content;
  }

  @media (min-width: $screen-lg) {
    padding-left: 14px;
    padding-right: 14px;
    width: $screen-lg-content;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin title() {
  position: relative;
  font-family: $font-family-title-text;
  font-weight: bold;
  font-size: ($font-size * 2);
  line-height: $line-height;
  letter-spacing: 5px;
  text-align: center;
  color: #211811;

  @media (min-width: $screen-sm) {font-size: ($font-size + 20); }

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 80px;
    bottom: -17px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 2px solid #211811;
  }

  &--white {
    color: #fefefe;

    &:after {
      border: 2px solid #fefefe;
    }
  }
}
