@mixin content-area() {
    margin: 0 auto;
    // background-color: #9ae4c6;

    @media (min-width: $screen-xs) {
      width: $screen-xs-content;
      padding-left: 14px;
      padding-right: 14px;
    }

    @media (min-width: $screen-sm) {
      width: $screen-sm-content;
      padding-left: 14px;
      padding-right: 14px;
    }

    @media (min-width: $screen-lg) {
      width: $screen-lg-content;
      padding-left: 45px;
      padding-right: 45px;
    }

    &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin title() {
    position: relative;
    font-family: $font-family-title-text;
    font-weight: bold;
    font-size: ($font-size * 2);
    line-height: $line-height;
    letter-spacing: 3px;
    text-align: center;
    color: #211811;

     &:after {
      position: absolute;
      display: block;
      content: '';
      width: 94px;
      bottom: -15px;
      right: 0;
      left: 0;
      margin: 0 auto;
      border: 2px solid #211811;
    }

    @media (min-width: $screen-sm) {
      font-size: ($font-size + 14);
    }

}