$screen-xs:                   320px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$text-color:                  #211811;

$font-family:                 'Open Sans', sans-serif;
$font-family-title:               'Proxima Nova Rg', sans-serif;
$font-family-text:               'Proxima Nova Lt', sans-serif;

$font-size:                   16px;
$line-height:                 24px;
